<mat-toolbar color="primary">
    <button routerLink="/" mat-button>Message Board</button>
    <button routerLink="/messages" mat-button>Messages</button>
    <span style="flex: 1 1 auto"></span>
    <button *ngIf="!auth.isAuthenticated" routerLink="/login" mat-button>Login</button>
    <button *ngIf="!auth.isAuthenticated" routerLink="/register" mat-button>Register</button>
    <button *ngIf="auth.isAuthenticated" routerLink="/" mat-button>Welcome {{auth.loggedInUser.userName}}</button>
    <button *ngIf="auth.isAuthenticated" (click)="auth.logout()" mat-button>Logout</button>

</mat-toolbar>