<mat-card>
    <mat-card-content>
        <mat-form-field>
            <input [(ngModel)]="loginData.email" type="email" placeholder="Email" matInput>
        </mat-form-field>
    </mat-card-content>
    <br>
    <mat-card-content>
        <mat-form-field>
            <input [(ngModel)]="loginData.password" type="password" placeholder="Password" matInput>
        </mat-form-field>
    </mat-card-content>
    <br>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="login()">Login</button>
    </mat-card-actions>
</mat-card>