<mat-card class="new-message-card">
    <mat-card-content>
        <mat-form-field>
            <input matInput placeholder="name">
        </mat-form-field>
        <br>
        <mat-form-field>
            <textarea [(ngModel)]="message.text" placeholder="message" matInput></textarea>
        </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
        <button (click)="post()" mat-button color="primary">POST</button>
    </mat-card-actions>
</mat-card>