<div *ngFor="let message of webService.messages | async">
    <mat-card class="message-card">
        <mat-card-title class="message-route-link" [routerLink]="['/messages',message.userId]">{{message.userName}}</mat-card-title>
        <mat-card-content> {{message.text}} </mat-card-content>
    </mat-card>
</div>