<mat-card>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field class="register-form-field">
            <input [ngClass]="{'errorInput':isValid('firstName')} " formControlName="firstName" placeholder="First Name" matInput>
        </mat-form-field>
        <br>
        <mat-form-field class="register-form-field">
            <input [ngClass]="{'errorInput':isValid('surName')} " formControlName="surName" placeholder="Last Name" matInput>
        </mat-form-field>
        <br>
        <mat-form-field class="register-form-field">
            <input [ngClass]="{'errorInput':isValid('email')} " formControlName="email" type="email" placeholder="Email" matInput>
        </mat-form-field>
        <br>
        <mat-form-field class="register-form-field">
            <input [ngClass]="{'errorInput':isValid('password')} " formControlName="password" type="password" placeholder="Password" matInput>
        </mat-form-field>
        <br>
        <mat-form-field class="register-form-field">
            <input [ngClass]="{'errorInput':isValid('confirmPassword')} " formControlName="confirmPassword" type="password" placeholder="Confirm Password" matInput>
        </mat-form-field>
        <br>
        <span *ngIf="form.errors?.mismatchFields" class="errorInput">Passwords do not match</span>
        <br>

        <button mat-raised-button color="primary">Register</button>

    </form>
</mat-card>